
h1{
    text-align: center;
    color: rgb(202, 47, 250);
}
h1:hover {
   
    background-color: rgb(108, 236, 208);
    animation: mymove 5s infinite;
  }
  img{
    margin-top: 20px;
border-radius: 10px;
object-position: center;
   width: 500px;
    height: 350px;
   
  }
  div{
    display: grid;
    justify-items: center;
  }
  button{
  margin-top: 50px;
  }
  h1:button {
   
    background-color: rgb(0, 0, 0);
    animation: mymove 5s infinite;
  }
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }